!!!xml
%rss{version: '2.0', 'xmlns:media' => 'http://search.yahoo.com/mrss/'}
  %channel
    %title weddingbellinvitations.com
    %description Up to date information from www.weddingbellinvitations.com
    %link= posts_url(@category)
    %lastBuildDate= @posts.first.created_at
    %pubDate= @posts.first.created_at
    %ttl 1800

    = render @posts

